.news-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.light-mode .news-item {
  background-color: #00809aee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(235, 243, 6, 0.933);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.light-mode .news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(56, 239, 0, 0.934);
}
.light-mode .tab:hover {
  color: #f40202;
}

.light-mode .tab.active {
  color: #f40202; /* Highlighted text color */
}
.light-mode .tab.active::after {
  background-color: #f40202; 
}

 /* News Item Styling */
.news-item {
  background-color: #0a1419;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 255, 51, 0.473);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(167, 239, 0, 0.579);
}

.news-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.news-item p {
  padding: 12px;
  font-size: 16px;
  color: #c8cdcd;
}
/* News Grid Styling */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

/* Main News Section */
.main-news {
  margin-top: 20px;
}

.main-news h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}

/* Section Styling */
.premier-league,
.more-news {
  margin-top: 40px;
}

.premier-league h2,
.more-news h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 20px; 
}

.tab {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c8cdcd;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #02ccf4db;
}

.tab.active {
  color: #02ccf4; /* Highlighted text color */
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: #02ccf4; 
}




