/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:none;
}

.container {
  max-width:1240px;
  margin:0 auto;
}

/* Body Styling */
body {
  font-family: "Inter", sans-serif;
  background-color: #010a0f;
  color: #c8cdcd;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Header Styling */
header{
  background-color: #001e28;
  border-bottom:1px solid rgb(85, 85, 85, .4);
}


/* Dark/Light Mode Toggle */
.dark-light-toggle {
  display: inline-flex;
  align-items: center;
}

.dark-light-toggle i {
  font-size: 24px;
  color: #c8cdcd;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dark-light-toggle:hover i {
  color: #ff4c4c;
}

/* Translate Toggle */
.translate-toggle {
  display: inline-flex;
  align-items: center;
}

.translate-toggle i {
  font-size: 24px;
  color: #c8cdcd;
  cursor: pointer;
  transition: color 0.3s ease;
}

.translate-toggle:hover i {
  color: #ff4c4c;
}
input,
textarea,
button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #444;
  color: #fff;
}

/* button {
  background-color: #ff4c4c;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e43c3c;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.light-mode {
  background-color: #eeeeee;
  color: #000000;
}

.dark-mode {
  background-color: #fff;
  color: #ffffff;
}


/* live-scores nav styles */
.scoresnav-container {
  display: flex;
  align-items: center;
  padding: 10px;
  grid-column: span 2;
}

.scoresnav {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.scoresnav-item {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.scoresnav-item span {
  display: block;
  font-size: 14px;
  color: gray;
}

.scoresnav-item .date {
  font-size: 18px;
  font-weight: bold;
}

.scoresnav-item.today {
  color: orange;
}

.scoresnav-item.today .date {
  color: orange;
}

.live {
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-bar input {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.search-bar input::placeholder {
  color: gray;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 10px;
}

.sidebar {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

.sidebar h3 {
  color: white;
  margin: 10px 0;
  padding-left:12px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 8px;
  color: gray;
  cursor: pointer;
}

.sidebar li:hover {
  color: white;
}


.content {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}
.content h3 {
  margin-bottom:12px;
  padding:12px;
}

.sidebar, .content {
  border-radius: 12px;
}
.match {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius:12px;
  transition:.4s;
  border-bottom: 1px solid #333;
}

.match:last-child {
  border-bottom: 1px solid #333 !important;
}

.match:hover {
  background-color:#555;
  cursor:pointer;
}
.match:last-child {
  border-bottom: none;
}

.match-time {
  color: gray;
  font-size: 14px;
}

.teams {
  flex-grow: 1;
  text-align: center;
}

/* .star {
  color: gray;
  cursor: pointer;
  font-size:24px;
}

.star:hover {
  color: white;
} */

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.modal-content {
  background-color: #1c1c1c;
  margin: 5% auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  font-family: 'Inter', sans-serif;
}

.modal-header {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #f5f5f5;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
  color: #dcdcdc;
  margin-bottom: 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.modal-footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.modal-footer .accept {
  background-color: #ff0101;
  color: white;
}

.modal-footer .reject {
  background-color: #510000;
  color: white;
}

.modal-footer .accept:hover {
  background-color: #e60101e4;
}

.modal-footer .reject:hover {
  background-color: #510000b6;
}

.cookie-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-top: 15px;
}

.cookie-options div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-options label {
  font-size: 1rem;
  color: #f5f5f5;
}
.cookie-items:hover {
background-color: #3c3d3d30;
transition: .4s;
cursor: pointer;
}


.cookie-options input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

body.modal-open {
    overflow: hidden;
}